@model IEnumerable<WebApp.Models.DB.Orderscostumer>


    <h1>Órdenes</h1>

    <p>
    <a asp-action="Create">Nueva Orden</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <td>
                    Orden
                </td>
                <td>
                    Fecha
                </td>
            <td>
                Cliente
            </td>
            <td>
                Email del Cliente
            </td>
            <td>
                Estado Pedido
            </td>
            </tr>
        </thead>
        <tbody>
        @foreach (var order in Model)
        {
                <tr>
                <td>
                    @Html.DisplayFor(m=>order.IdOrder)
                </td>
                 <td>
                    @Html.DisplayFor(m=>order.Date)
                </td>
                <td>
                    @Html.DisplayFor(m=>order.Customer.NameCustomer) @Html.DisplayFor(n=>order.Customer.LastNameCustomer)
                </td>
                <td>
                    @Html.DisplayFor(m=>order.Customer.Correo)
                </td>
                <td>
                    @Html.DisplayFor(m=>order.Estado)
                </td>
                <td>
                <a asp-action="Edit" asp-route-id="@order.IdOrder">Editar</a>
                </td>
                </tr>
                
        }
        </tbody>

    </table>
