@model IEnumerable<WebApp.Models.DB.Provider>

@{
    ViewData["Title"] = "Index";
}

<h1>Proveedores</h1>

<p>
    <a asp-action="Create">Añadir nuevo Proveedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tipo de ID
            </th>
            <th>
                Nombre del Proveedor
            </th>
            <th>
                Apellido del Proveedor
            </th>
            <th>
                Número de Identificación
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Dirección
            </th>
            <th>
                Correo
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeId.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameProvider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastNameProvider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
