@model WebApp.Models.DB.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre del Cliente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameCustomer)
        </dd>
        <dt class = "col-sm-2">
            Apellido del Cliente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastNameCustomer)
        </dd>
        <dt class = "col-sm-2">
            Identificación del Cliente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNumber)
        </dd>
        <dt class = "col-sm-2">
            Tléfono del cliente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelNumber)
        </dd>
        <dt class = "col-sm-2">
            Dirección del cliente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
           Correo del cliente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class = "col-sm-2">
           Tipo ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeId.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Actualizar</a> |
    <a asp-action="Index">Regresar</a>
</div>
